page-symptom-diary-home {

    .content{
        background: url(../assets/imgs/symptom.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

}
