


<ion-content class="background" padding>
  <div>


    <div *ngIf="hideForm">
       <ion-item class="post-entry-message" text-wrap>
          <h2>Success!</h2>
          <p>You have logged in!</p>
       </ion-item>
    </div>


    <div *ngIf="!hideForm">
       <form [formGroup]="form" (ngSubmit)="login()">

          <ion-list>
              
            
                <ion-item-divider>Sign in your account</ion-item-divider>
                <ion-item>
                    <ion-label floating> Your email</ion-label>
                  <ion-icon name="person" item-left primary small></ion-icon>
                   <ion-input
                      type="text"
                      formControlName="t_email"
                      [(ngModel)]="userEmail"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating> Your password</ion-label>
                  <ion-icon name="lock" item-left primary small></ion-icon>
                  
                   <ion-input
                      type="password"
                      formControlName="t_password"
                      rows="6"
                      [(ngModel)]="userPassword"></ion-input>
                </ion-item>

              </ion-list>

                <button
                class="login"
                   ion-button small
                   color="ourpink"
                   text-center
                   round
                   align-center
                   [disabled]="!form.valid">Login</button>

             <button
             ion-button small
             class="login"
             text-center
             clear
             (click)="goRegister()">You don't have an account?</button>
         

       </form>
    </div>
 </div>
</ion-content>
