<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>


    <div *ngIf="hideForm">
       <ion-item class="post-entry-message" text-wrap>
          <h2>Success!</h2>
          <p>You have Registered!</p>
       </ion-item>
    </div>


    <div *ngIf="!hideForm">
       <form [formGroup]="form" (ngSubmit)="register()">

          <ion-list>
             <ion-item-group>
                <ion-item-divider color="light">Email</ion-item-divider>
                <ion-item>
                   <ion-input
                      type="text"
                      placeholder="Enter your email..."
                      formControlName="t_email"
                      [(ngModel)]="userEmail"></ion-input>
                </ion-item>
             </ion-item-group>

             <ion-item-group>
                <ion-item-divider color="light">Password</ion-item-divider>
                <ion-item>
                   <ion-input
                      type="password"
                      placeholder="Enter your password..."
                      formControlName="t_password"
                      [(ngModel)]="userPassword"></ion-input>
                </ion-item>
             </ion-item-group>
             <ion-item-group>
              <ion-item-divider color="light">Name</ion-item-divider>
              <ion-item>
                 <ion-input
                    type="text"
                    placeholder="Enter your name..."
                    formControlName="u_name"
                    [(ngModel)]="userName"></ion-input>
              </ion-item>
           </ion-item-group>
           <ion-item-group>
            <ion-item-divider color="light">Date of Birth</ion-item-divider>
            <ion-item>
               <ion-datetime
                  displayFormat="DD MMM YYYY"
                  placeholder="Enter your date of birth..."
                  formControlName="u_dob"
                  [(ngModel)]="userDOB"></ion-datetime>
            </ion-item>
         </ion-item-group>
         <ion-item-group>
          <ion-item-divider color="light">Weight</ion-item-divider>
          <ion-item>
             <ion-input
                type="number"
                placeholder="Enter your weight..."
                formControlName="u_weight"
                [(ngModel)]="userWeight"></ion-input>
          </ion-item>
       </ion-item-group>
       <ion-item-group>
        <ion-item-divider color="light">Height</ion-item-divider>
        <ion-item>
           <ion-input
              type="number"
              placeholder="Enter your height..."
              formControlName="u_height"
              [(ngModel)]="userHeight"></ion-input>
        </ion-item>
      </ion-item-group>

             <ion-item>
                <button
                   ion-button
                   color="primary"
                   text-center
                   block
                   [disabled]="!form.valid">Register</button>
             </ion-item>

          </ion-list>

       </form>
    </div>
 </div>
</ion-content>
