<ion-header>

  <ion-navbar transparent>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background" padding>
  <div>


    <div *ngIf="hideForm">
       <ion-item class="post-entry-message" text-wrap>
          <h2>Success!</h2>
          <p>You have Registered!</p>
       </ion-item>
    </div>


    <div *ngIf="!hideForm">
       <form [formGroup]="form" (ngSubmit)="register()">

          <ion-list>
              <ion-item-divider color="light">Sign up with a new account</ion-item-divider>
                <ion-item>
                  <ion-label floating>New email</ion-label>
                   <ion-input
                      type="text"
                      formControlName="t_email"
                      [(ngModel)]="userEmail"></ion-input>
                </ion-item>

             
                <ion-item>
                  <ion-label floating>New password</ion-label>
                   <ion-input
                      type="password"
                      formControlName="t_password"
                      [(ngModel)]="userPassword"></ion-input>
                </ion-item>
    
              <ion-item>
                  <ion-label floating>What's your name?</ion-label>
                 <ion-input
                    type="text"
                    formControlName="u_name"
                    [(ngModel)]="userName"></ion-input>
              </ion-item>
            <ion-item>
                <ion-label floating>When is your birthday?</ion-label>
               <ion-datetime displayFormat="DD MMM YYYY"
                  [(ngModel)]="userDOB"
                  formControlName="u_dob"
                  [max]="maxDate"></ion-datetime>
            </ion-item>
          <ion-item>
              <ion-label floating>Weight kgs (optional)</ion-label>
             <ion-input
                type="number"
                formControlName="u_weight"
                [(ngModel)]="userWeight"></ion-input>
          </ion-item>
        <ion-item>
            <ion-label floating>Height cm (optional)</ion-label>
           <ion-input
              type="number"
              formControlName="u_height"
              [(ngModel)]="userHeight"></ion-input>
        </ion-item>

             <ion-item>
                <button
                   ion-button
                   color="primary"
                   text-center
                   block
                   [disabled]="!form.valid">Register</button>
             </ion-item>

          </ion-list>

       </form>
    </div>
 </div>
</ion-content>
