page-breast-problems {
    .content{
        background: url(../assets/imgs/background3.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    
    .toolbar-icon {
        color: #FFF;
        font-weight: bold;
    }
}
