<ion-header>

  <ion-navbar color="dark">
    <ion-title>Quiz Yourself!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list [ngClass]="'quizzes'" radio-group *ngFor="let item of items; let i=index">
    <ion-list-header>
      <p style="font-weight: bold; font-size: 12px; color: dark;" absolute-drag>{{ item.question }}</p>
    </ion-list-header>

    <ion-item *ngIf="item.ans_1!=''">
      <ion-label>{{ item.ans_1 }}</ion-label>
      <ion-radio value="1" (ionSelect)="mcqAnswer(i,1)"></ion-radio>
    </ion-item>

    <ion-item *ngIf="item.ans_2!=''">
      <ion-label>{{ item.ans_2 }}</ion-label>
      <ion-radio value="2" (ionSelect)="mcqAnswer(i,2)"></ion-radio>
    </ion-item>

    <ion-item *ngIf="item.ans_3!=''">
      <ion-label>{{ item.ans_3 }}</ion-label>
      <ion-radio value="3" (ionSelect)="mcqAnswer(i,3)"></ion-radio>
    </ion-item>

    <ion-item *ngIf="item.ans_4!=''">
      <ion-label>{{ item.ans_4 }}</ion-label>
      <ion-radio value="4" (ionSelect)="mcqAnswer(i,4)"></ion-radio>
    </ion-item>

  </ion-list>

  <ion-item>
    <button 
    ion-button
    round
    color="ourpink"
    class="b-button"
    (click)="submitQuiz()">Submit Quiz</button>
 </ion-item>

</ion-content>