page-reg {

    .background {
        background: url("../assets/imgs/welcome.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

}
