page-profile {

    .content{
        background: url(../assets/imgs/profile.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .bold{
        font-weight: bold;
    }

    .margin-page{
        margin-top: 35%;
    }

    .edit{
        margin-right: auto;
        margin-left: auto;
    }

    .scroll-content{
        align-content: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}
