page-home {

    .background{ 
        background: url(../assets/imgs/Home.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

    }

    .scroll-content{
        align-content: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .fbody{
        margin-top: 10%;
    }

    .health{
        margin-top: 10%;
    }

    .rep{
        margin-top: 10%;
    }

    .faq{
        margin-top: 10%;
    }
}