page-home {

    .background{ 
        background: url(../assets/imgs/Home1.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

    }

    .scroll-content{
        align-content: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .fbody{
        margin-top: 10%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .health{
        margin-top: 10%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .rep{
        margin-top: 10%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .faq{
        margin-top: 10%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    #cat{
        display: flex;
        flex-direction: column;
    }
    #cat button{
        flex: 4;
    }
}