page-female-body {

    .content{
        background: url(../assets/imgs/subcategories.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    
    #cat{
        display: flex;
        flex-direction: column;
    }
    #cat button{
        flex: 4;
    }

    .button-light{
        margin-top: 10%;
    }
}
