page-add-symptom {

    .content{
        background: url(../assets/imgs/background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    // .mybutton{
    //     margin-left: 25%;
    //     margin-right: 25%;
    //     width: 70%;
    // }

}
