<ion-header>
    <ion-navbar color="y">
      <ion-title *ngIf="!categoryTitle">Menopause</ion-title>
      <ion-title *ngIf="categoryTitle">{{categoryTitle}} posts</ion-title>
      <ion-buttons end>
        <button 
        ion-button 
        icon-only
        (click)="quiz({ cat: 'Menopause' })">
        <ion-icon name="trophy"></ion-icon>
      </button>
    </ion-buttons>
      
    </ion-navbar>
  </ion-header>
  
  <ion-content class="content">
    <ion-card *ngFor="let post of posts" >
      <ion-card-content >
        <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
        <p [innerHTML]="post.excerpt.rendered"></p>
      </ion-card-content>
      <ion-row no-padding>
         <ion-col>
           <button ion-button clear small color="primary" icon-start>
             {{post.date.split('T')[0]}}
           </button>
         </ion-col>
         <ion-col text-right>
           <button ion-button small outline round color="ourpink" (click)="postTapped($event, post)" icon-start>
              Read More
           </button>
         </ion-col>
       </ion-row>
    </ion-card>
  
  </ion-content>
  <ion-footer>
      <button ion-button full color="ourwhite" (click)="goHome()">
          <ion-icon name="home-outline" style="font-size: 35px;"></ion-icon>
      </button>
  </ion-footer>